@use 'smart-svg';
.svg-checked {
  @include smart-svg.show-with-pseudo(
    'check.svg',
    1.2rem,
    $fill-color: theme('colors.zinc.600')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show-with-pseudo(
      'check.svg',
      1.2rem,
      $fill-color: theme('colors.zinc.300')
    );
  }
}
.svg-unchecked {
  @include smart-svg.show-with-pseudo(
    'check.svg',
    1.2rem,
    $fill-color: theme('colors.transparent')
  );
}
