:root {
  /* Colors */
  --color-gray-light: #a1a1aa;
  --color-gray-lighter: #d4d4d8;
  --color-gray-dark: #3f3f46;
  --color-gray-darker: #27272a;
  --color-gray-darkest: #71717a;
  --color-white: #fafafa;
  --color-white-light: #e4e4e7;
  --color-gray-transparent-light: rgba(63, 63, 70, 0.125);
  --color-gray-transparent-lighter: rgba(63, 63, 70, 0.0625);
  --color-gray-transparent-dark: rgba(212, 212, 216, 0.125);
  --color-gray-transparent-darker: rgba(212, 212, 216, 0.0625);
}

@scope (button.mist-button) {
  :scope {
    border: none;
    padding-inline: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    background-color: light-dark(
      var(--color-gray-light),
      var(--color-gray-dark)
    );
    color: var(--color-white);
    &:hover {
      background-color: light-dark(
        var(--color-gray-lighter),
        var(--color-gray-darker)
      );
    }
    &:active {
      background-color: light-dark(
        var(--color-gray-light),
        var(--color-gray-dark)
      );
    }
    &:disabled {
      background-color: light-dark(
        var(--color-gray-light),
        var(--color-gray-dark)
      );
      color: var(--color-gray-lighter);
    }
  }
}
