@use 'smart-svg';
.asobi1disabled {
  @include smart-svg.show(
    'images/heart.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi2disabled {
  @include smart-svg.show(
    'images/star.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi3disabled {
  @include smart-svg.show(
    'images/airplane.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi4disabled {
  @include smart-svg.show(
    'images/cat.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi5disabled {
  @include smart-svg.show(
    'images/cloud.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi6disabled {
  @include smart-svg.show(
    'images/truck.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi7disabled {
  @include smart-svg.show(
    'images/baguette.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi8disabled {
  @include smart-svg.show(
    'images/tennis-ball.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi9disabled {
  @include smart-svg.show(
    'images/umbrella.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi10disabled {
  @include smart-svg.show(
    'images/hand.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi11disabled {
  @include smart-svg.show(
    'images/train.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi12disabled {
  @include smart-svg.show(
    'images/bird.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi13disabled {
  @include smart-svg.show(
    'images/airballoon.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi14disabled {
  @include smart-svg.show(
    'images/home.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi15disabled {
  @include smart-svg.show(
    'images/diamond.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
.asobi16disabled {
  @include smart-svg.show(
    'images/club.svg',
    $fill-color: theme('colors[gray][300]')
  );
}
