@use 'smart-svg';
.asobi1 {
  @include smart-svg.show(
    'images/heart.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi2 {
  @include smart-svg.show(
    'images/star.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi3 {
  @include smart-svg.show(
    'images/airplane.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi4 {
  @include smart-svg.show(
    'images/cat.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi5 {
  @include smart-svg.show(
    'images/cloud.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi6 {
  @include smart-svg.show(
    'images/truck.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi7 {
  @include smart-svg.show(
    'images/baguette.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi8 {
  @include smart-svg.show(
    'images/tennis-ball.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi9 {
  @include smart-svg.show(
    'images/umbrella.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi10 {
  @include smart-svg.show(
    'images/hand.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi11 {
  @include smart-svg.show(
    'images/train.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi12 {
  @include smart-svg.show(
    'images/bird.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi13 {
  @include smart-svg.show(
    'images/airballoon.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi14 {
  @include smart-svg.show(
    'images/home.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi15 {
  @include smart-svg.show(
    'images/diamond.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
.asobi16 {
  @include smart-svg.show(
    'images/club.svg',
    $fill-color: theme('colors[gray][700]')
  );
}
