@use 'smart-svg';
.num1disabled {
  @include smart-svg.show(
    'images/1.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/1.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num2disabled {
  @include smart-svg.show(
    'images/2.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/2.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num3disabled {
  @include smart-svg.show(
    'images/3.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/3.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num4disabled {
  @include smart-svg.show(
    'images/4.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/4.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num5disabled {
  @include smart-svg.show(
    'images/5.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/5.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num6disabled {
  @include smart-svg.show(
    'images/6.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/6.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num7disabled {
  @include smart-svg.show(
    'images/7.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/7.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num8disabled {
  @include smart-svg.show(
    'images/8.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/8.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num9disabled {
  @include smart-svg.show(
    'images/9.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/9.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num10disabled {
  @include smart-svg.show(
    'images/10.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/10.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num11disabled {
  @include smart-svg.show(
    'images/11.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/11.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num12disabled {
  @include smart-svg.show(
    'images/12.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/12.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num13disabled {
  @include smart-svg.show(
    'images/13.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/13.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num14disabled {
  @include smart-svg.show(
    'images/14.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/14.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num15disabled {
  @include smart-svg.show(
    'images/15.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/15.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
.num16disabled {
  @include smart-svg.show(
    'images/16.svg',
    $fill-color: theme('colors[zinc][300]')
  );
  @media (prefers-color-scheme: dark) {
    @include smart-svg.show(
      'images/16.svg',
      $fill-color: theme('colors[zinc][700]')
    );
  }
}
