@use 'smart-svg';
.num1 {
  @include smart-svg.show(
    'images/1.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num2 {
  @include smart-svg.show(
    'images/2.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num3 {
  @include smart-svg.show(
    'images/3.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num4 {
  @include smart-svg.show(
    'images/4.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num5 {
  @include smart-svg.show(
    'images/5.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num6 {
  @include smart-svg.show(
    'images/6.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num7 {
  @include smart-svg.show(
    'images/7.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num8 {
  @include smart-svg.show(
    'images/8.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num9 {
  @include smart-svg.show(
    'images/9.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num10 {
  @include smart-svg.show(
    'images/10.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num11 {
  @include smart-svg.show(
    'images/11.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num12 {
  @include smart-svg.show(
    'images/12.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num13 {
  @include smart-svg.show(
    'images/13.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num14 {
  @include smart-svg.show(
    'images/14.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num15 {
  @include smart-svg.show(
    'images/15.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
.num16 {
  @include smart-svg.show(
    'images/16.svg',
    $fill-color: theme('colors[zinc][700]')
  );
}
