# .github/workflows/chromatic.yml

# Workflow name
name: 'Chromatic'

# PR のオープンや更新と、main へのマージプッシュを契機にデプロイする
on:
  pull_request:
    branches:
      - main
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

# List of jobs
jobs:
  chromatic-deployment:
    # Operating System
    runs-on: ubuntu-latest
    # Job steps
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 16.14.0
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ysk8hori'

      - name: Install Dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
