name: Pre Workflow
on:
  pull_request:
    types: [opened, reopened, synchronize]
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 18.20.8
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ysk8hori'

      - name: Install Dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: node_modules をキャッシュ
        uses: actions/cache/save@v3
        with:
          path: 'node_modules'
          key: node-${{ github.sha }}

  type-check-and-test:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 18.20.8
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ysk8hori'

      - name: Restore Dependencies
        uses: actions/cache/restore@v3
        with:
          path: 'node_modules'
          key: node-${{ github.sha }}

      - name: Type Check
        run: npm run type-check

      - name: Test
        run: npm run test:run

  delta-typescript-graph:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 18.20.8
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ysk8hori'

      - name: Restore Dependencies
        uses: actions/cache/restore@v3
        with:
          path: 'node_modules'
          key: node-${{ github.sha }}

      - name: run delta-typescript-graph
        uses: ysk8hori/delta-typescript-graph-action@v1.0.2

  storybook-tests:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: 18.20.8
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ysk8hori'

      - name: Restore Dependencies
        uses: actions/cache/restore@v3
        with:
          path: 'node_modules'
          key: node-${{ github.sha }}

      - name: Run Storybook tests
        run: npm run storybook:test:ci
